{% extends "base.html"%}

{% block title %}Crear estudiante{% endblock %}

{% block contenido %} 

<div class="card" style="font-family:Century Gothic; text-transform: uppercase;">
    <div class="card-header" style=" width: 100%; height: 10%;background-color: #1B396A; color: white; text-align: center; font-size: 18pt;">
    Registro
    </div>
    <div class="card-body">
        <h4 class="card-title" style="text-align: center; "> </h4>
        {% include 'escuela/formalumno.html' %}
    </div>
    <div class="card-footer text-muted">
    </div>
</div>

{% endblock %} 