{% extends "base.html"%}

{% block title %} Actualizar alumno {% endblock %}

{% block contenido %} 
<div class="card" style="font-family:Century Gothic; text-transform: uppercase;">
    <div class="card-header" style=" width: 100%; height: 10%;background-color: #1B396A; color: white; text-align: center; font-size: 18pt;">
        Editar alumno
    </div>
    <div class="card-body">
        {% include 'escuela/formalumno.html' %}
    </div>
    <div class="card-footer text-muted">

    </div>
</div>
{% endblock %}