{% extends "base.html" %}
{% csrf_token %}
{% block contenido %}
<div class="card" style="font-family:Century Gothic; text-transform: uppercase;">
    <div class="card-header"
        style=" width: 100%; height: 10%;background-color: #1B396A; color: white; text-align: center; font-size: 18pt;">
        Reticula
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <thead>
                <tr>
                    <th class="w-16 p-3">No. Control</th>
                    <th class="w-50 p-3">Nombre del alumno</th>
                    <th class="w-9 p-3">Semestre</th>
                    <th class="w-15 p-3">Periodo escolar</th>
                    <th class="w-10 p-3">Prom. Acumulado</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <td>{{alumnos.ncontrol}}</td>
                <td>{{alumno.nombre}}
                    {{alumno.apellidopaterno}} {{alumno.apellidomaterno}} </td>
                <td>12</td>
                <td>ENE-JUN/2023</td>
                <td>10</td>
            </tr>
        </tbody>
        </thead>
    </table>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <thead>
                <tr>
                    <th style="width: 540px;">Carrera</th>
                    <th style="width: 540px;">Especialidad</th>
                </tr>
            </thead>
        <tbody>
            <tr>
                <td>Ingenieria en Sistemas Computacionales</td>
                <td>Tecnologias de informacion y la comunicacion</td>
            </tr>
        </tbody>
        </thead>
    </table>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th style="width: 360px;">Créditos Acumulados</th>
                <th style="width: 360px;">Créditos Disponibles</th>
                <th style="width: 360px;">Materias Seleccionadas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>xxxxxxxxxxxxxxxxxx</td>
                <td>xxxxxxxxxxxxxxxxxx</td>
                <td>xxxxxxxxxxxxxxxxxx</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="table-responsive" style="font-family:Century Gothic; text-transform: uppercase; text-align: center;">
    <table class="table table-sm table-bordered table-striped ">
        <thead style="background-color: #762A44; color: white;">
            <tr>
                <th> <strong>Semestre 1</strong></th>
                <th> <strong>Semestre 2</strong></th>
                <th> <strong>Semestre 3</strong></th>
                <th> <strong>Semestre 4</strong></th>
                <th> <strong>Semestre 5</strong></th>
                <th> <strong>Semestre 6</strong></th>
                <th> <strong>Semestre 7</strong></th>
                <th> <strong>Semestre 8</strong></th>
                <th> <strong>Semestre 9</strong></th>
            </tr>
        </thead>

        <tbody style="font-size: 8pt;">
            {#Esta es la primera fila de la tabla#}
            <tr>

                {% for sem in mat1 %}
                        <td>{{sem.asignatura}}
                            <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                            </p>
                        </td>
                {% endfor%}
                
                {% for sem in mat7 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat13 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat19 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat25 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat31 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat37 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat43 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat49 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
            </tr>
            {#aqui comienza la segunda fila de la tabla#}
            <tr>
                {% for sem in mat2 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat8 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat14 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat20 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat26 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat32 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat38 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat44 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat50 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                
            </tr>
            {#aqui comienza la tercera fila de la tabla#}
            <tr>
                {% for sem in mat3 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat9 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat15 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat21 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat27 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat33 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}{% for sem in mat39 %}
                
                <td>{{sem.asignatura}}

                    <p>{{sem.clave1}}
                        <br>
                        {{sem.clave2}}
                    </p>
                </td>
            {% endfor%}
            {% for sem in mat45 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat51 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
            </tr>
            {#aqui comienza la cuarta fila de la tabla#}
            <tr>
                {% for sem in mat4 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat10 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat16 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat22 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat28 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat34 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat40 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat46 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat52 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
            </tr>
            {#aqui comienza la quinta fila de la tabla#}
            <tr>
                {% for sem in mat5 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat11 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat17 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat23 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat29 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat35 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat41 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat47 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat53 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                
            </tr>
            {#aqui comienza la sexta fila de la tabla#}
            <tr>
                {% for sem in mat6 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat12 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat18 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat24 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat30 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat36 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat42 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat48 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
                {% for sem in mat54 %}
                
                    <td>{{sem.asignatura}}

                        <p>{{sem.clave1}}
                            <br>
                            {{sem.clave2}}
                        </p>
                    </td>
                {% endfor%}
            </tr>
        </tbody>
    </table>
</div>
<hr>
<br>


<div class="table-responsive">
    <h4>Descripción de codigos de color</h4>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <td style="color:black; background: #A0D79F;">
                    <p>
                        Acreditada
                    </p>
                </td>
                <td style="color:white; background: #603060;">
                    <p>
                        Cursando en Primera
                    </p>
                </td>
                <td style="color:white; background: #000000;">

                    <p>
                        Primera Cursando en Repeticion
                    </p>
                </td>
                <td style="color:black; background: #FFFF66;">

                    <p>
                        Cursada Sin Acreditar Prioridad para seleccionar
                    </p>
                </td>
                <td style="color:black; background: #FF9900;">

                    <p>
                        A Curso Especial Prioridad para seleccionar
                    </p>
                </td>
                <td style="color:white; background: #FF0000;">

                    <p>
                        Curso o Ex. Esp. Reprobado
                    </p>
                </td>
                <td style="color:white; background: #0080C0;">
                    <p>
                        Materia posible a seleccionar si requisitos OK
                    </p>
                </td>
                <td style="color:black; background: #CCCCCC;">

                    <p>
                        Materia no permitida hasta avance
                    </p>
                </td>
                <td style="color:white; background: #996600;">

                    <p>
                        Cursando en Especial: Seleccionada
                    </p>
                </td>

            </tr>
        </thead>
    </table>
</div>
{% endblock %}